node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

logs/
log/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp


dist/
build/
.cache/
.tmp/
.temp/

coverage/

uploads/
public/uploads/

*.sqlite
*.db

seedGoaHotel.js

../BACKEND_DEVELOPER_DOC.md

test-ramp.yml